@keyframes fade-in {
  0% {
    opacity: 0;
    /* transform: scale(0.3); */
  }
  40% {
    opacity: 0;
    /* transform: scale(0.3); */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}
@keyframes shimmer {
  0% {
    background-position: 75% 0;
  }
  100% {
    background-position: -90% 0;
  }
}
@keyframes wiggle {
  0% {
    opacity: 0;
    transform: translateX(40px);
    /* transform: scale(0.3); */
  }
  40% {
    opacity: 0;
    /* transform: scale(0.3); */
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    /* transform: scale(1); */
  }
}
@keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
    /* transform: scale(0.3); */
  }
  40% {
    opacity: 0;
    /* transform: scale(0.3); */
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    /* transform: scale(1); */
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out-slide-down {
  0% {
    opacity: 1;
    transform: translateY(0);
    /* transform: scale(0.3); */
  }
  40% {
    opacity: 1;
    /* transform: scale(0.3); */
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
    /* transform: scale(1); */
  }
}

@keyframes pop-in-up {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  35% {
    opacity: 0;
    transform: translateY(30%) scale(0.3);
  }
  70% {
    opacity: 1;
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  70% {
    opacity: 0;
    transform: scale(0.3);
  }
  85% {
    opacity: 1;
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pop-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes dotdotdot {
  0% {
    opacity: 1;
  }
}
@layer base {
  .wiggle {
    animation: wiggle .3s linear 2;
  }
  .shimmer {
    position: relative;
    background: #ececec;
    opacity: 0.5;
    background-image: linear-gradient(to right,
      #ececec 0%,
      #f2f2f2 10%,
      #fafafa 20%,
      #f2f2f2 30%,
      #ececec 40%,
      #ececec 100%
    );
    background-size: 200% 100%;
    animation: shimmer 1500ms forwards ease-in-out infinite;
  }
  .fade-in-slide-up {
    animation: fade-in-slide-up 800ms ease-in-out both;
  }
  .fade-in-from-right {
    animation: fade-in-from-right 800ms ease-in-out both;
  }
  .fade-out-slide-down {
    animation: fade-out-slide-down 800ms ease-in-out both;
  }
  .fade-out {
    animation: fade-out 800ms ease-in-out both;
  }
  .fade-in {
    animation: fade-in 800ms ease-in-out both;
  }
  .pop-in {
    animation: pop-in-up 900ms ease-in-out both;
  }
  .pop-in-1 {
    animation: pop-in-up 900ms ease-in-out both;
  }
  .pop-in-2 {
    animation: pop-in-up 900ms 1000ms ease-in-out both;
  }
  .pop-in-3 {
    animation: pop-in-up 900ms 1500ms ease-in-out both;
  }
  .pop-in-tile3 {
    animation: pop-in 1800ms ease-in-out both
  }
  .pop-out-tile3-before {
    animation: pop-out 2400ms 1500ms ease-in-out both;
  }
  .pop-in-tile3-after {
    animation: pop-in 2400ms 1500ms ease-in-out both;
  }
  .spin {
    animation: spin 25s linear infinite;
  }
}
