@layer base {
  .email-input {
    @apply font-[Golos] rounded-[18px] md:rounded-[24px]
h-full w-full
text-white
px-[1rem] md:px-[3rem] py-[1rem]
cursor-none
text-[18px] md:text-[24px];
    transition: all 0.25s ease 0s;
    border: 1.75px solid var(--neon);
    background-color: transparent;
  }
  .email-input::placeholder {
    color: var(--off-white);
  }
}
