@layer base {
  .email-input {
    @apply font-[Golos] rounded-[18px] md:rounded-[24px] h-full w-full text-white
    px-[1rem] md:px-[2rem] py-[1.5rem]
    cursor-none
    text-[18px] md:text-[20px];
    transition: all 0.25s ease 0s;
    border: 1.75px solid var(--neon);
    background-color: transparent;
  }
  .email-button {
    @apply cursor-none hover:scale-[1.25] transition-all w-[40px] lg:w-[50px] absolute right-[12px] h-full justify-end;
  }
  .email-input::placeholder {
    color: var(--off-white);
  }
}
