
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  
:root {
  --cursor-size: 30px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --neon: #DAFF70;
}

.circle {

  position: fixed;
  background-color: white;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: 100%;
  z-index: 10;
  user-select: none;
  pointer-events: none;
  transform: scale(1);
  /* mix-blend-mode: exclusion; */
  transition: transform 350ms ease-in-out;

}
.grow {
  transform: scale(3);
  background-color: var(--neon);
  mix-blend-mode: none;
  background-image: url('/cursor-arrow.svg');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.spin {
  animation: spin 25s linear infinite;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@tailwind base;
@tailwind components;
@tailwind utilities;

