@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  
:root {
  --cursor-size: 30px;
  --neon: #DAFF70;
}

.circle {

  position: fixed;
  background-color: white;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: 100%;
  z-index: 10;
  user-select: none;
  pointer-events: none;
  transform: scale(1);
  /* mix-blend-mode: exclusion; */
  transition: transform 350ms ease-in-out;

}
.grow {
  transform: scale(3);
  background-color: var(--neon);
  mix-blend-mode: none;
  background-image: url('/cursor-arrow.svg');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.spin {
  animation: spin 25s linear infinite;
}




@tailwind base;
@tailwind components;
@tailwind utilities;

