@font-face {
  font-family: "Radio";
  src: url("../../public/fonts/PP/PPRadioGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Radio";
  src: url("../../public/fonts/PP/PPRadioGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Golos";
  src: url("../../public/fonts/Golos/GolosText-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Golos";
  src: url("../../public/fonts/Golos/GolosText-SemiBold.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Golos";
  src: url("../../public/fonts/Golos/GolosText-Bold.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Crimson";
  src: url("../../public/fonts/Crimson/crimson-italic-webfont.woff2") format("woff");
  font-weight: 400;
  font-style: italic;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    /* transform: scale(0.3); */
  }
  40% {
    opacity: 0;
    /* transform: scale(0.3); */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}
@keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
    /* transform: scale(0.3); */
  }
  40% {
    opacity: 0;
    /* transform: scale(0.3); */
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    /* transform: scale(1); */
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  70% {
    opacity: 0;
    transform: scale(0.3);
  }
  85% {
    opacity: 1;
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-in-slide-up {
  animation: fade-in-slide-up 800ms ease-in-out both;
}
.fade-in {
  animation: fade-in 800ms ease-in-out both;
}
.pop-in {
  animation: pop-in 2300ms ease-in-out both;
}
:root {
  --cursor-size: 30px;
  --current-bg: white;
  --neon: #daff70;
  --neon--srgb: #e1fe84;
  --ocean: #5c89cc;
  --cream: #fffbf7;
  --bubble: #1169ee;
  --grey: #757575;
  --black: #101010;
  --off-white: #fffbf7;
  --white: #ffffff;
}
html {
  scroll-behavior: smooth;
}
.transition-bg {

  transition: background-color 250ms ease 0s;
}
.section-tile {
  @apply  pt-[15vw] flex flex-col items-center justify-center w-full
}
.tile {
  @apply flex flex-col-reverse
  w-full max-w-[1728px] 
  md:grid grid-cols-12 gap-[2rem] 
  justify-items-center
  px-[1rem] md:px-[3rem]
  pt-[4vh];
}

.grid-reverse {
  grid-column-start: 1;
  grid-row-start: 1;
  
}

.tile-text {
  @apply col-span-6 xl:col-span-7
  flex flex-col
  h-full
  pl-[1.5vw] md:pl-[4vw] 
  pt-[0vw] md:pt-[1rem];
}

.text-reverse {
  @apply 
  pl-[0w] md:pl-[0vw] 
  pt-[0vw] md:pt-[1rem];
}
.tile-text-top {
  @apply font-[Radio]
  text-[13vw] md:text-[6.2vw] xl:text-[8rem]
  w-[80%] md:w-full
  leading-[1.05] md:leading-[.96];
}
.tile-text-bottom {
  @apply font-[Golos] 
  text-[1.3rem] lg:text-[1.5rem]
  leading-[1.3] 
  max-w-[400px] 
  pt-[2rem] md:pt-[3vh] lg:pt-[6vh];
}
.tile-image {
  @apply col-span-6 xl:col-span-5
  w-full flex items-center justify-center;
}
.bg-gradient-start {
  background-image: linear-gradient(var(--off-white) 10%, var(--neon) 60%);
}
.bg-gradient-end {
  background-image: linear-gradient(var(--neon) 10%, var(--off-white) 90%);
}
/* @layer base { */
.email-input {
  transition: all 0.25s ease 0s;
  border: 3px solid var(--neon);
  background-color: transparent;
  border-radius: 24px;

  /* @apply border-[color:(var(--neon)] border-solid border-[5px] bg-transparent rounded-[24px]; */
}
/* } */
.circle {
  position: fixed;
  background-color: white;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: 100%;
  z-index: 10;
  user-select: none;
  pointer-events: none;
  transform: scale(1);
  mix-blend-mode: difference;
  background-color: var(--white);
  transition: 350ms ease-in-out;
  transition-property: background-image, background-color, transform, width, height, border-radius, background-color; 
}
.grow {
  mix-blend-mode: normal;
  transform: scale(3);
  background-color: var(--neon);
  background-position: center;
  /* border: 1px solid black; */
  background-image: url("/graphics/cursor-arrow.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 550ms ease;
  transition-property: background-image, background-color, transform, width, height, border-radius, background-color; 
}
.cursor-tile {
  mix-blend-mode: normal;
  background-color: transparent;
  background-position: center;
  transform: scale(3);
  background-image: url("/stickers/sticker-logo.svg");
  background-size: 100%;
  /* animation: 25s linear infinite; */
  /* border-radius: 3px; */
  background-position: center;
  background-repeat: no-repeat;
  transition: 550ms ease;
  transition-property: background-image, background-color, transform, width, height, border-radius, background-color; 
}
.spin {
  animation: spin 25s linear infinite;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
