@font-face {
  font-family: "Radio";
  src: url("../../public/fonts/PP/PPRadioGrotesk-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PP-Radio-Grotesk";
  src: url("../../public/fonts/PP/PPRadioGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  70% {
    opacity: 0;
    transform: scale(0.3);
  }
  85% {
    opacity: 1;
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pop-in {
  animation: pop-in 2300ms ease-in-out both;
}
:root {
  --cursor-size: 30px;
  --neon: #DAFF70;
  --ocean: #5C89CC;
  --cream: #FFFBF7;
  --bubble: #1169EE;
  --grey: #757575;
  --black: #101010;
  --white: #FFFFFF;
}

/* @layer base { */
.email-input {
  border: 3px solid var(--neon);
  background-color:transparent;
  border-radius: 24px;
  
  /* @apply border-[color:(var(--neon)] border-solid border-[5px] bg-transparent rounded-[24px]; */
}
/* } */
.circle {
  position: fixed;
  background-color: white;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: 100%;
  z-index: 10;
  user-select: none;
  pointer-events: none;
  transform: scale(1);
  transition: transform 350ms ease-in-out;
}
.grow {
  transform: scale(3);
  background-color: var(--neon);
  mix-blend-mode: none;
  background-image: url('/graphics/cursor-arrow.svg');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.spin {
  animation: spin 25s linear infinite;
}




@tailwind base;
@tailwind components;
@tailwind utilities;

