@layer base {
  .imessage-left {
    @apply relative bg-[--black] rounded-[18px] text-white font-[Golos] px-[1rem] py-[.4rem];
  }
  .imessage-left::before {
    content: "\A";
    background-image: url("/graphics/imessage-cleft.svg");
    background-repeat: no-repeat;
    background-size: 30% 30%;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -65%;
    left: -13%;
  }
  .imessage-right {
    @apply relative bg-[#276ee8] rounded-[18px] text-white font-[Golos] px-[1rem] py-[.4rem];
  }
  .imessage-right::before {
    content: "\A";
    background-image: url("/graphics/imessage-cleft-blue.svg");
    background-repeat: no-repeat;
    background-size: 35% 35%;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -75%;
    left: 75%;
  }
  .dot {
    height: 10px;
    width: 10px;
    padding: 0;
    margin: 0;
    background-color: #ddd;
    opacity: 30%;
    border-radius: 50%;
    animation: dotdotdot 850ms infinite ease-in-out;
  }
  .dot-one {
    animation-delay: 300ms;
    margin-right: 3px;
  }
  .dot-two {
    animation-delay: 400ms;
    margin-right: 3px;
  }
  .dot-three {
    animation-delay: 600ms;
  }
}
