@font-face {
  font-family: "Radio";
  src: url("../../public/fonts/PP/PPRadioGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Radio";
  src: url("../../public/fonts/PP/PPRadioGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Golos";
  src: url("../../public/fonts/Golos/GolosText-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Golos";
  src: url("../../public/fonts/Golos/GolosText-SemiBold.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Crimson";
  src: url("../../public/fonts/Crimson/crimson-italic-webfont.woff2") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Golos";
  src: url("../../public/fonts/Golos/GolosText-Bold.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
}
