@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --black: #000000;
  --neon: #daff70;
  --neon-50p: rgb(218, 255, 112, 0.5);
  --gray-100: #f0f0f0;
  --gray-700: #757575;
}

@font-face {
  font-family: "PP Radio Grotesk";
  src: url("/fonts/Radio/PPRadioGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Radio Grotesk";
  src: url("/fonts/Radio/PPRadioGrotesk-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("/fonts/Golos/GolosText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("/fonts/Golos/GolosText-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Crimson Text";
  src: url("/fonts/Crimson/crimson-italic-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --font-radio: "PP Radio Grotesk", ui-sans-serif, system-ui;
  --font-golos: "Golos Text", ui-sans-serif, system-ui;
  --font-crimson: "Crimson Text", ui-serif, Georgia;
  --color-black: var(--black);
  --color-neon: var(--neon);
  --color-neon-50p: var(--neon-50p);
  --color-gray-100: var(--gray-100);
  --color-gray-700: var(--gray-700);
}

/*
sm	40rem (640px)	@media (width >= 40rem) { ... }
md	48rem (768px)	@media (width >= 48rem) { ... }
lg	64rem (1024px)	@media (width >= 64rem) { ... }
xl	80rem (1280px)	@media (width >= 80rem) { ... }
2xl	96rem (1536px)	@media (width >= 96rem) { ... }
*/
@layer utilities {
  /* Radio */
  .text-radio-1 {
    @apply font-radio leading-none tracking-[-0.03em];
    font-size: clamp(3.5rem, 8.5vw, 6.25rem);
  }
  .text-radio-2 {
    @apply font-radio text-[2.125rem] md:text-[3.25rem] lg:text-[4rem] leading-none tracking-[-0.02em];
  }
  .text-radio-3 {
    @apply font-radio text-[3.75rem] md:text-[3.75rem] leading-none tracking-[-0.02em];
  }
  .text-radio-4 {
    @apply font-radio text-[1.5rem] md:text-[1.75rem] lg:text-[2.375rem] leading-[110%] tracking-[-0.01em];
  }
  .text-radio-5 {
    @apply font-radio text-[1.5rem] leading-[110%] tracking-[-0.03em];
  }
  /* Golos */
  .text-golos-1 {
    @apply font-golos text-[2.5rem] lg:text-[3.75rem] leading-none tracking-[-0.06em] font-semibold;
  }
  .text-golos-2 {
    @apply font-golos text-[1.75rem] xl:text-[2.5rem] leading-none tracking-[-0.06em] font-semibold;
  }
  /* Crimson */
  .text-crimson-1 {
    @apply font-crimson text-[2.125rem] lg:text-[3rem] italic leading-none tracking-[-0.06em];
  }
  .text-crimson-2 {
    @apply font-crimson text-[1.25rem] xl:text-[2.375rem] italic leading-none tracking-[-0.06em];
  }
  /* Body */
  .text-body-lg {
    @apply text-[0.875rem] md:text-[1.125rem] xl:text-[1.375rem] tracking-[-0.01em] leading-[1.25rem];
  }
  .text-body-sm {
    @apply text-[0.75rem] xl:text-[0.875rem] tracking-[-0.02em] leading-[140%];
  }

  .container-sm,
  .container,
  .container-lg {
    @apply w-full mx-auto;
    padding-left: clamp(1rem, 4vw, 2rem);
    padding-right: clamp(1rem, 4vw, 2rem);
  }
  .container-sm {
    @apply max-w-[1280px];
  }
  .container {
    @apply max-w-[1440px];
  }
  .container-lg {
    @apply max-w-[1728px];
  }
  .container-xl {
    @apply max-w-[1920px];
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-golos tracking-[-0.01em] text-black leading-[1.5rem];
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

p a {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

p a:hover {
  text-decoration: none;
}

/*
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  
  flex: 0 0 25%;
  position: relative;
  min-width: 0; 
}
*/

/*
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-golos);
}
*/

.embla {
  max-width: 48rem;
  max-width: 100vw;
  margin: auto;
  --slide-height: 19rem;
  --slide-height: clamp(15rem, 40vw, 28rem);
  --slide-spacing: 2rem;
  --slide-size: 25%;
  --slide-size: clamp(15rem, 40vw, 28rem);
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  flex: 0 0 auto;
  /*
  padding-left: var(--slide-spacing); */
}
